@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Global rules */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}

.feature-section {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

img {
    max-width: 100%;
}

/* Cards section */
.feature-section .header {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.feature-section .header h2 {
    margin-bottom: 1em;
}

.feature-section .header h2 span {
    font-weight: 200;
}

.feature-section .header p {
    margin-bottom: 5em;
    color: hsl(229, 6%, 66%);
}

.feature-section .cards-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 2em;
}

.feature-section .card {
    border-radius: 5px;
    border-top: 5px solid red;
    padding: 2em;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

.feature-section .card p {
    margin: 1em 0 2em;
    font-size: 0.9rem;
    color: hsl(229, 6%, 66%);
}

.feature-section .card img {
    width: 50px;
    align-self: flex-end;
}

.feature-section .card:nth-child(1) {
    border-color: hsl(180, 62%, 55%);
}

.feature-section .card:nth-child(2) {
    border-color: hsl(0, 78%, 62%);
}

.feature-section .card:nth-child(3) {
    border-color: hsl(34, 97%, 64%);
}

.feature-section .card:nth-child(4) {
    border-color: hsl(212, 86%, 64%);
}

@media (min-width: 700px) {
    .feature-section .cards-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .feature-section .cards-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .feature-section .card:nth-child(1),
    .feature-section .card:nth-child(4) {
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
    }
    
    .feature-section .card:nth-child(4) {
        grid-column: 3;
    }
}